[submodule "expanse-101"]
	path = expanse-101
	url = https://github.com/sdsc-hpc-training-org/expanse-101.git
[submodule "galyleo"]
	path = galyleo
	url = https://github.com/mkandes/galyleo
[submodule "hpc-security"]
	path = hpc-security
	url = https://github.com/sdsc-hpc-training-org/hpc-security
