[submodule "comet-101"]
	path = comet-101
	url = https://github.com/sdsc-hpc-training-org/comet-101.git
[submodule "expanse-101"]
	path = expanse-101
	url = https://github.com/sdsc-hpc-training-org/expanse-101.git
[submodule "galyleo"]
	path = galyleo
	url = https://github.com/mkandes/galyleo
