<html>
	<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
 
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="https://www.sdsc.edu/education_and_training/training_hpc.html" target="_blank">HPC Training Events</a></li>
        		<li><a href="https://education.sdsc.edu/training/interactive/" target="_blank">Interactive Videos</a></li>
    		</ul>
		</nav>
		<div class="container">
			{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:training-info@sdsc.edu">Contact: training-info@sdsc.edu</a></li>
        		<li><a href="https://github.com/sdsc-hpc-training">github.com/sdsc-hpc-training-org</a></li>
			</ul>
		</footer>
	</body>
</html>

